<widget id="com.example.jMSplash" version="0.0.1.2">
        <name>jQuery Mobile Splash</name>
        <description>
            A sample Apache Cordova application that support splash screen.
        </description>
        <author email="dev@callback.apache.org" href="http://cordova.io">
            Apache Cordova Team
        </author>
        <content src="index.html" />
		<icon src="icon.png" platform="android" qualifier="ldpi" />
		<icon src="icon.png" platform="android" qualifier="mdpi" />
		<icon src="icon.png" platform="android" qualifier="hdpi" />
		<icon src="icon.png" platform="android" qualifier="xhdpi" />
		<icon src="icon.png" platform="android" qualifier="xxhdpi" />
        <gap:plugin name="org.apache.cordova.splashscreen" />
		<preference name="SplashScreen" value="screen"/>
		<gap:splash src="splash.png" />
        <access origin="*" />
</widget>
